<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container h-100">
    <div class="col-6 mx-auto">
        <div class="jumbotron">
<form th:action="@{/add}" th:object="${new_User_user1}" method="post">
    Enter name: <input type="text" name="name" id="name" required><br>
    Enter password: <input type="password" name="password" id="password" required><br>
    Enter email: <input type="email" name="email" id="email" required><br>
    <input class="m-2" type="submit" value="register">
</form>
</div>
</div>
</div>
</body>
<footer>
    <div class="container-fluid text-center" >
        <a class="h3" th:href="@{/index.html}">Go back</a>
    </div>
</footer>
</html>